<!DOCTYPE html>
<html>

    <head>
        <title>Register</title>

        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    </head>

    <body ng-app="testApp">
        <div class="container">

            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <h1>Register Page</h1>
                    </div>

                    <div class="panel-body">
                        <form id="registerForm" action="success.html" ng-controller="RegisterController" name="RegisterForm">

                            <div class="input-group" ng-class="{ 'has-error': RegisterForm.email.$touched && RegisterForm.email.$invalid }">
                                <span class="input-group-addon">Email </span>
                                <input
                                        type="email"
                                        name="email"
                                        id="email"
                                        class="form-control"
                                        ng-model="email"
                                        ng-pattern="emailPattern"
                                        required />
                            </div>
                            <div ng-messages="RegisterForm.email.$error" ng-if="RegisterForm.email.$touched">
                                <div ng-message="pattern">Your email address is invalid</div>
                                <div ng-message="required">Email is required</div>
                            </div>

                            <br />

                            <div class="input-group" ng-class="{ 'has-error': RegisterForm.password.$touched && RegisterForm.password.$invalid }">
                                <span class="input-group-addon">Password </span>
                                <input
                                        type="password"
                                        name="password"
                                        class="form-control"
                                        ng-model="password"
                                        ng-minlength="6"
                                        minlength="6"
                                        ng-maxlength="26"
                                        required />
                            </div>
                            <div ng-messages="RegisterForm.password.$error" ng-if="RegisterForm.password.$touched">
                                <div ng-message="minlength">Password must contain at least 6 characters.</div>
                                <div ng-message="maxlength">Password cannot contain more than 26 characters.</div>
                                <div ng-message="required">Password is required</div>
                            </div>

                            <br />

                            <div class="input-group" ng-class="{ 'has-error': RegisterForm.confirm.$touched && RegisterForm.confirm.$invalid }">
                                <span class="input-group-addon">Confirm </span>
                                <input
                                        type="password"
                                        name="confirm"
                                        class="form-control"
                                        ng-model="confirm"
                                        required
                                        confirm-match="password" />
                            </div>
                            <div ng-messages="RegisterForm.confirm.$error" ng-if="RegisterForm.confirm.$touched">
                                <div ng-message="confirmMatch">Passwords must match.</div>
                            </div>

                            <br />

                            <input class="btn btn-success" type="submit" value="Submit"/>
                        </form>

                        <div class="row">
                            <div class="col-md-12">
                                <a href="index.html" class="">
                                    <p class="text-left">
                                        <small>Login</small>
                                    </p>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="angular-messages.js"></script>
        <script src="script.js"></script>
    </body>

</html>